@import ./lib/mixins
@import ./lib/grid
@import ./lib/reset
@import ./lib/svgfont

+font('Intro', 'intro/Intro-Regular', 400)
+font('Intro', 'intro/Intro-Black', 900)

=maxMobile
  +r(319)
    @content

=minMobile
  +rm(320)
    @content

=maxTablet
  +r(767)
    @content

=minTablet
  +rm(768)
    @content

=maxDescop
  +r(1023)
    @content

=minDescop
  +rm(1024)
    @content

=minWideDescop
  +rm(1400)
    @content

body
  text-rendering: optimizeLegibility
  -webkit-font-smoothing: antialiased
  -moz-osx-font-smoothing: grayscale

@import components/hamb
@import components/header
@import components/nav
@import components/promo
@import components/stats
@import components/btn

.text-title
  color: #000000
  font-family: Intro
  font-size: 60px
  font-weight: 900
  text-transform: uppercase
  letter-spacing: 1.2px
  text-align: center
  // 59px - 21px
  margin-bottom: 38px

  &::before
    content: ''
    display: inline-block
    width: 54px
    height: 85px
    background-image: url('/img/pics/sock.png')
    background-position: 0 0
    background-size: 100% 100%
    background-repeat: no-repeat

    margin-bottom: -21px
    margin-right: 33px

.text-center
  text-align: center
  color: #333333
  font-family: 'Helvetica Neue'
  font-size: 16px
  font-weight: 300
  line-height: 26px
  letter-spacing: 0.32px

.list-points
  display: block
  margin-top: 46px
  margin-bottom: 41px

  li
    margin-top: 30px
    display: block
    position: relative
    padding: 3px 0 3px 41px

    color: #333333
    font-family: Intro
    font-size: 26px
    font-weight: 900
    letter-spacing: 0.52px
    text-transform: uppercase
    line-height: 30px

    &::before
      content: ''
      display: block
      width: 12px
      height: 100%
      position: absolute
      left: 0
      top: 0
      background-color: #b40e00

.about-us-block
  &__image
    +minDescop
      padding-top: 110px
      padding-right: 52px
  &__text
    +minDescop
      padding-top: 100px
      padding-bottom: 110px

  &__button
    text-align: center
