.about-us-block
  &__image
    +minDescop
      padding-top: 110px
      padding-right: 52px
  &__text
    +minDescop
      padding-top: 100px
      padding-bottom: 110px

  &__button
    text-align: center
