.prices-block
  padding-top: 58px
  padding-bottom: 122px
  background-image: url('../img/prices-bg.jpg')
  background-repeat: repeat
  background-position: center center
  overflow: hidden

  +minDescop
    position: relative

    &::before
      content: ''
      display: block
      position: absolute
      width: 2px
      height: 100%
      background-color: #e7e8e8
      opacity: 0.2
      left: 50%
      top: 0
      margin-left: -1px

  &__prices
    margin-top: 36px
    text-align: center

  &__footer
    font-family: "Helvetica Neue Cyr"
    margin-top: 30px
    text-align: center
    font-size: 14px
