.btn
  display: inline-block
  border-radius: 0
  border: none
  outline: none
  appearance: none


  &_bordered
    padding: 11px 9px
    border-right: 1px solid #00b44e
    border-bottom: 1px solid #00b44e

    .btn__in
      display: inline-block
      color: #ffffff
      background-color: #00672d
      font-family: "Helvetica Neue Cyr"
      font-size: 14px
      font-weight: 700
      line-height: 1
      text-transform: uppercase
      letter-spacing: 0.35px
      padding: 17px 20px
      min-width: 230px
      text-align: center

.btn_red, .btn_red-big
  min-width: 170px
  text-align: center
  color: #ffffff
  font-family: "Helvetica Neue Cyr - Black"
  font-size: 17px
  font-weight: 400
  text-transform: uppercase
  letter-spacing: 0.42px
  line-height: 1
  padding: 15px 10px
  background-color: #b40e00

.btn_red-big
  padding: 10px 15px
  +minDescop
    width: 230px
    padding: 16px 20px

.btn_submit
  min-width: 230px
  background-color: #ffffff
  padding: 11px 20px
  color: #000000
  font-family: "Helvetica Neue Cyr"
  font-size: 14px
  font-weight: 700
  text-transform: uppercase
  letter-spacing: 0.35px
