.header
  background-size: cover
  background-color: #3d444b
  background-image: url('/img/bg.png')
  background-repeat: no-repeat
  background-position: 0 0

  +minDescop
    height: 100vh
    max-height: 980px
    min-height: 700px
    display: flex
    flex-direction: column
    flex-wrap: nowrap
    justify-content: space-between

    .header__nav
      flex: 0 0 auto
    .header__promo
      flex: 0 0 auto
    .header__footer
      flex: 0 0 auto

  &__footer
    margin-top: 20px
    padding-bottom: 40px

    +minDescop
      margin-top: 0
      padding-bottom: 60px

    &__stats
    &__button
      text-align: center

      margin-top: 20px
      +minDescop
        margin-top: 0
